@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-snap-type: y mandatory;
}

video, .teslax, .tesla-3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);
}

.Teste{
    filter: brightness(100);
    position: fixed;
    width: 120px;
}

.item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100dvh;
    scroll-snap-align: start;
}

h1{
    color: white;
    font-size: 50px;
}

.parcelar{
    color: white;
}

.info-carro{
    margin-top: 80px;
    text-align: center;
}

.rodape{
    text-align: center;
}

button{
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
    padding: 7px 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.faca-teste{
    color: black;
    background-color: white;
}

.text-rodape{
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

h2{
    color: rgba(47,79,79, 0.8);
    font-size: 50px;
}

.parcelar2{
    color: rgba(47,79,79,0.8);
    font-size: 30px;
}

.Formulario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    z-index: 3;
    background-color: #333333c9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 1.5s;
}

.Formulario.visible {
    opacity: 1;
    visibility: visible;
}

.inpu-conteiner {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inpu-conteiner input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inpu-conteiner input::placeholder {
    color: #fff;
}

.inpu-conteiner img {
    position: absolute;
    right: 24px;
    top: 40%;
    transform: translateY(-50%);
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button.submit, button.Voltar {
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button.Voltar {
    background-color: red;
}

/* Responsividade */
@media (max-width: 768px) {
    .Formulario {
        width: 90%;
    }
}


